@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root{
    --pink : hsl(322, 100%, 66%);
    --pale-cyan : hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* 
    BEM 
    Bloque--Elemento__modificador

    nav--button__pink
    nav--button__blue
*/

/* 
Clases de utilidad 
-> Bootstrap
*/

.btn{
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    font-size: .75rem;
    font-weight: 700;
    border: none;
}

.header{
    background-color: var(--pale-cyan);
    background-image: url('../images/bg-hero-mobile.svg');
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.navbar--logo{
    width: 100px;
}

.navbar--btn{
    background-color: white;
    box-shadow: 10px 10px 20px #ccc;
}

.header--information{
    padding: 2.5rem 1.5rem;
    text-align: center;
}

.header--image{
    width: 100%;
    max-width: 350px;
}

.header--title{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header--text{
    margin-bottom: 1rem;
}

.header--btn{
    background-color: var(--pink);
    color: white;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--pink);
    width: 75%;
    margin-bottom: 1rem;
    max-width: 300px;
}


.main--information{
    background-color: white;
    margin-top: 2rem;
}

.div{
    background-color: white;
    box-shadow: 5px 5px 20px lightgrey;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    margin: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.main--title{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.imagen{
    width: 70%;
    margin-bottom: 2rem;
}

.main--title{
    font-size: 1.2rem;
}

.main--text,
.main--title{
    text-align: center;
}


.footer--div1{
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 20px;
    margin: 1rem 4rem;
    padding: 1.2rem;
    text-align: center;
    position: relative;
    bottom: -53px;
    background-color: white;
}

.footer--div__title{
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: var(--dark-cyan);
    margin-bottom: 1rem;
}

.footer--btn{
    background-color: var(--pink);
    color: white;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--pink);
    width: 50%;
    margin-bottom: 1rem;
    max-width: 300px;
}


.footerbar{
    background-color: var(--dark-cyan);
    padding-top: 5.5rem;
    padding-left: 0.25rem;
}

.footer{
    color: white;
}

.footerbar--span1,
.footerbar--span2,
.footerbar--span3{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: start;
    gap: 1rem;
    align-items: start;
    margin: 1rem 1rem;
}
    


.footerbar--icon{
    width: 20px;
}

.footerbar--copy{
    margin-top: 3rem;
    text-align: center;
}

.footerbar--logo{
    width: 300px;
    margin-bottom: 1rem;
}

li{
    list-style: none;
    margin: 1rem;
}



@media screen and (min-width: 768px) {
    .header--information{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        gap: 1.5rem;
    }

    .header--title{
        font-size: 2rem;
    }

    .header--image{
        max-width: 400px;
    }

    .btn{
        font-size: 1rem;
    }

    .navbar--btn{
        padding: .25rem 1.5rem;
    }

    .section--div1,
    .section--div3{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
        text-align: left;
        gap: 2rem;
        
        
    }
    .section--div2{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        text-align: left;
        gap: 2rem;
        
    }

    .main--title,
    .main--text{
        text-align: left;
    }


    .imagen{
        max-width: 300px;
        margin: 1rem 1rem
        ;
    }

    .footer--div1{
        max-width: 515px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
    }

    .contenedor--general{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.texto1{
    display: flex;
    flex-direction: column;
}

.footerbar--span4,
.footerbar--span5{
    display: flex;
    flex-direction: column;
}

li{
    padding: 0.25rem ;

}

.footerbar--span1{
    max-width: 350px;

}

.footerbar--copy{
    display: flex;
    align-items: flex-end;
    
}

}

@media screen and (min-width:992px) {
    .header--text,
    .header--title{
        max-width: 400px;
    }
}

    .main--title,
    .main--text{
        max-width: 400px;
}
